.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #AEA8D3;
  height: 120px;
  width: 100%;
  color: white;
  text-align: center;
  padding-left: 15px;
  transition: height 200ms;
}

.App-header > h2 {
  transition: width 200ms;
  white-space: nowrap;
  width: 100%;
}

.App-header.videoShown > h2 {
  transition: width 200ms;
  white-space: nowrap;
  width: 0%;
}

.App-header.videoShown {
  height: 70px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.playerWrapper {
  flex: 4;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
}

.videoPlayer {
  flex: 2;
  align-self: flex-end;
}

.videoIdInput {
  padding-top: 30px;
  width: 70%;
  max-width: 700px;
  align-self: center;
}