.draggableRange {
  display: flex;
  flex-direction: row;
  height: 30px;
  .handle {
    position: absolute;
    height: 30px;
    background-color: #AEA8D3;
  }
  .content {
    position: absolute;
    height: 30px;
    background-color: #ecf0f1;
  }
  .leftHandle {

  }
  .rightHandle {

  }
}