.commentListItem {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

.commentListItem .commentBody {
  display: flex;
  flex-direction: row;
}

.commentListItem .commentHeader {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  text-align: left;
}

.commentListItem .commentHeader .commentScore {
  flex: 1;
}

.commentListItem .commentHeader .commentAuthor {
  flex: 5;
}