.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  flex: 1;
  background-color: #222;
  height: 150px;
  width: 100%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.playerWrapper {
  flex: 4;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
}

.videoPlayer {
  flex: 2;
  align-self: flex-end;
}

.videoIDInput {
  width: 30%;
  align-self: center;
}